<div class="container-fluid m-0 p-0">

    <div class="fondo-azul-oscuro p-3" id="contenidoInstitucional" style="min-height: 100vh;">
        <a [routerLink]="[ '/' ]" class="btn btn-primary mt-3"><i class="fas fa-angle-left fa-lg"></i> <span class="ml-2 d-none d-lg-inline">Volver</span></a>
        <h1 class="py-4 text-light">
            EMSA Empresa Municipal para la Salud <small class="text-muted" style="color: #a3b6cd !important;"> Lotería de Manizales</small>
        </h1>

        <div class="row">
            <div class="col-12">
                <div class="alert alert-light shadow mx-0 mx-lg-3 subtitulos-alert" role="alert">
                    <h3 class="text-uppercase" style="font-weight: 600;">
                        <i class="fas fa-folder-open"></i> Misión
                    </h3>
                </div>
                <div class="mx-1 mx-lg-5">
                    <p class="mx-1 mx-lg-3 parrafoTexto">
                        Somos una Empresa administradora y/o operadora de lotería tradicional o de billetes y demás juegos de suerte y azar autorizados por la Ley, operamos transparente y eficientemente garantizando la satisfacción de nuestros clientes y la generación de recursos
                        para el sector salud.
                    </p>
                </div>

                <div class="alert alert-light shadow mx-0 mx-lg-3 subtitulos-alert" role="alert">
                    <h3 class="text-uppercase" style="font-weight: 600;">
                        <i class="fas fa-folder-open"></i> Visión
                    </h3>
                </div>
                <div class="mx-1 mx-lg-5">
                    <p class="mx-1 mx-lg-3 parrafoTexto">
                        Seguir siendo la empresa líder en la región al 2019, en la generación de recursos para la salud y en la generación de estrategias innovadoras y competitivas del negocio de juegos de suerte y azar.
                    </p>
                </div>

                <div class="alert alert-light shadow mx-0 mx-lg-3 subtitulos-alert" role="alert">
                    <h3 class="text-uppercase" style="font-weight: 600;">
                        <i class="fas fa-folder-open"></i> Historia
                    </h3>
                </div>
                <div class="mx-1 mx-lg-5">
                    <p class="mx-1 mx-lg-3 parrafoTexto">
                        En 1.922 la Lotería de Manizales, se estableció sin antes haberse establecido oficialmente el Juego en Colombia, pues sólo tenían juego Cundinamarca y Atlántico. Un año mas tarde, en Octubre 20 de 1.923 se promulgó la Ley 64 que estableció como monopolio
                        estatal el juego de loterías en el país y reconoció las ya establecidas
                    </p>
                    <p class="mx-3 parrafoTexto">
                        La Ordenanza No 34 de Abril 29 de 1.922 autorizó al municipio establecer la Lotería de Manizales y el Concejo Municipal de Manizales, promulgó el acuerdo 29 de Junio 16 de 1.922, la cual funcionó independientemente hasta 1.945, que le fue dada como renta
                        propia a la Beneficencia de Manizales la cual se creó mediante acuerdo 055 de Diciembre 7 de 1.945 como establecimiento pùblico del orden municipal y le dio como renta propia los recursos generados por la administración de la Lotería,
                        para administrar el Hospital Universitario de Caldas.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        La Beneficencia de Manizales dentro de su objeto construyó el Hospital Geriátrico San Isidro, para recibir los ancianos y dementes que estaban en el Hospital Universitario, el cual con su directa administración funcionó desde 1.973.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        A raíz de la Ley 10 de 1.900 que descentralizó la salud, le dio vida administrativa y jurídica y además para efectos de los recursos nacionales categorizó los hospitales por niveles. El consejo de Manizales, dio facultades extraordinarias al Alcalde,
                        y mediante los Decretos 488, 489, y 490 de agosto 10 de 1.991, transformó la Beneficencia de Manizales en la Empresa Municipal para la Salud, al Hospital Universitario de Caldas y al Hospital Geriátrico San Isidro, les otorgo patrimonio
                        propio e independencia administrativa.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        La LOTERIA DE MANIZALES fue creada en 1922, siendo la única lotería Municipal que existe en Colombia, en el año de 1945 se crea la Beneficencia de Manizales a la cual se le entrega la administración de la lotería con el fin de cumplir con el objetivo
                        de construir un Hospital en la ciudad de Manizales, nuestra lotería se ha caracterizado por presentar innovaciones dentro de su plan de premios de las cuales se puede contar con ser la primera lotería que en el mismo instauró las
                        SERIES, la pensión de Fortunato y Utilizó billetes grandes tipo Lotería Extraordinaria, en el año de 1999 presentó la doble oportunidad de ganar con un billete y en septiembre 19 de 2.001 lanzó al mercado un plan de premios atractivo
                        por sus premios y por su disminución en la emisión con el fin de que existan mayores probabilidades de que los premios queden en poder del público.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        EMSA - LOTERIA DE MANIZALES es una empresa comercial e industrial del estado que transfiere recursos financieros al sector salud, a través de sus juegos de suerte y azar.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        Su motivación principal es la plena satisfación de sus clientes y las transferencias al sector salud siendo estos el eje principal de su actividad comercial, para ello se cuenta con personas altamente calificadas en cada una de sus dependencias.
                    </p>
                    <p class="mx-3 parrafoTexto">Es primordial que se tenga una relación excelente con los clientes externos e internos permitiendo así que la empresa posea una imagen integra. </p>
                    <p class="mx-3 parrafoTexto">
                        EMSA - LOTERIA DE MANIZALES se ha preocupado por mantener vigente su credibilidad y aceptación en el mercado, despertando cada día el interés y la expectativa del consumidor por los juegos de suerte y azar por medio de incentivos y novedades tanto en
                        los premios como en la forma de jugar.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        Teniendo presente que nos encontramos en un mercado globalizado donde el consumidor tiene la posibilidad de acceder a un sin fin de productos y servicios, el cual se ha ido convirtiendo en un personaje extremadamente exigente.
                    </p>
                    <p class="mx-3 parrafoTexto">
                        La tecnología, la comunicación global, la posibilidad de estar en contacto siempre con los avances y la aceleración propia de nuestros tiempos, ha generado un perfil de consumidor que no se sorprende con nada. Por este motivo se debe estar a la vanguardia
                        del cambio.
                    </p>
                </div>



            </div>
        </div>


    </div>
</div>