<div class="card tarjetaNovedad text-light h-100 " style="background-color: #504e4e;">
    <div class="card-body bg-transparent p-2">
        <h5 class="card-title bg-transparent mb-1" style="font-weight: 600;">Titulo Novedad</h5>
        <p class="card-text" style="font-weight: 400; font-size: small;">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nisi minima assumenda in, et nulla cum vero iusto fugiat ipsam ullam quae dignissimos ducimus blanditiis voluptatum culpa aut tempora esse autem?</p>
    </div>
</div>