<div class="container-fluid p-0 m-0">
    <div class="fondo-oro-1">
        <div class="row text-center m-0 p-0 py-4">
            <div class="col-sm-6 col-lg-3 py-2">
                <img class="w-75" src="assets/img/gobdigital.png" alt="">
            </div>
            <div class="col-sm-6 col-lg-3 py-2">
                <img class="w-75" src="assets/img/cce.png" alt="">
            </div>
            <div class="col-sm-6 col-lg-3 py-2">
                <img class="w-75" src="assets/img/contraloria.png" alt="">
            </div>
            <div class="col-sm-6 col-lg-3 py-2">
                <img class="w-75" src="assets/img/coljuegos.png" alt="">
            </div>
        </div>
    </div>

    <footer class="m-0 px-0 py-5" style="overflow: hidden;">
        <div class="row m-0 p-0">
            <div class="col-sm-3 mb-3">
                <div>
                    <h4>Datos de Contacto</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-globe"></i></div>
                                <div class="p-0 m-0">Calle 51C Carrera 15B Barrio La Asunción. Manizales, Colombia</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-phone-alt"></i></div>
                                <div class="p-0 m-0">PBX: (57+6) 8841927</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-headset"></i></div>
                                <div class="p-0 m-0">Línea de Atención al Cliente 018000423806</div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-envelope-open-text"></i></div>
                                <div class="p-0 m-0">
                                    <a href="mailto:emsa.loteriademanizales@gmail.com">emsa.loteriademanizales@gmail.com</a>
                                    <br>
                                    <a href="mailto:loteriademanizales@une.net.co">loteriademanizales@une.net.co</a>
                                    <br>
                                    <a class="d-inline-block text-truncate" href="mailto:notificacionesjudiciales@loteriademanizales.com" style="max-width: 100%;">notificacionesjudiciales@loteriademanizales.com</a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div>
                    <h4>Navegar</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-hand-point-up"></i></div>
                                <div class="p-0 m-0"><a [routerLink]="[ '/' ]">Inicio</a> | <a [routerLink]="[ '/institucional' ]">Institucional</a> |
                                    <a [routerLink]="[ '/transparencia' ]">Transparencia</a> |
                                    <a [routerLink]="[ '/plan-premios' ]">Plan de Premios</a> |
                                    <a [routerLink]="[ '/resultados' ]">Resultados Anteriores</a> |
                                    <a [routerLink]="[ '/contratacion' ]">Contratación</a> |
                                    <a [routerLink]="[ '/contacto' ]">Contacto</a> </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-users"></i></div>
                                <div class="p-0 m-0">
                                    <p>Social</p>
                                    <a href="https://es-la.facebook.com/loteriaMzles/" target="_blank" class="btn btn-light botSocial">
                                        <i class="fab fa-facebook-f fa-fw"></i>
                                    </a>
                                    <a href="https://twitter.com/LoteriaMzles" target="_blank" class="btn btn-light botSocial">
                                        <i class="fab fa-twitter fa-fw"></i>
                                    </a>
                                    <a href="https://www.instagram.com/loteriademanizales/" target="_blank" class="btn btn-light botSocial">
                                        <i class="fab fa-instagram fa-fw"></i>
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div>
                    <h4>Atención</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-clock"></i></div>
                                <div class="p-0 m-0">
                                    <strong> Horario de Atención al Público:</strong> Lunes a Jueves de 7:00 a.m. - 5:00 p.m. y Viernes 7:00 a.m. - 4:00 p.m.
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <div class="p-0 m-0">
                                    <a href="http://www.supersalud.gov.co" target="_blank">
                                        <img src="assets/img/logoSupersalud.png" alt="Supersalud" style="width: 250px; opacity: 0.7">
                                    </a>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-3 mb-3">
                <div>
                    <h4>Manizales</h4>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <div class="d-flex flex-row">
                                <!-- <div class="p-0 m-0 mr-2" style="vertical-align: top;"><i class="fas fa-hand-point-up"></i></div> -->
                                <div class="p-0 m-0">
                                    <img src="assets/img/logoAlcaldia.png" alt="Alcaldía de Manizales" style="width: 250px; opacity: 0.7">
                                </div>

                            </div>
                            <p>
                                Centro Administrativo Municipal CAM - Calle 19 No. 21-44. Manizales, Colombia.
                            </p>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <a href="http://loteriademanizales.com/#/devoluciones/" class="btn btn-danger btn-sm ml-4 mr-1" target="_blank"><i class="fas fa-exchange-alt"></i></a><a href="http://loteriademanizales.com/#/devoluciones/" class="mx-0 small text-danger"
                    target="_blank">Devoluciones</a>
            </div>
        </div>
    </footer>

</div>